.App {
  background-color: #faf9f4;
  text-align: center;
  height:100vh;
}

body {
}

.board {
  background-color: white;
  margin: 20px;
  border: solid 1px white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px grey;
  height:350px;
}

.page {
  margin-left:16%;
  margin-top: 10px;
  margin-right: 10px;
  background-color: white;
  border: solid 1px white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px grey;
  height: 88vh;
}
