.App {
  text-align: right;
  background-color: #f5f5f5;
}

html {
}

.select {
  margin: 10px;
  font-size: 18px;
  color: grey;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #2596be;
}

.select:disabled {
  border-color: grey;
}

#end:disabled {
  color: lightgray;
}

.value {
  font-size: 40px;
  font-weight: bold;
}